.profile-view {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;
}

.profile-image-wrapper {
  margin-bottom: 16px;
}

.profile-picture {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-info {
  text-align: center;
  font-size: 16px;
  line-height: 1.6;
}
