.form-box {
  max-width: 400px;
  margin: 100px auto;
  padding: 30px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  position: relative;
  top:60px
}
h1 {
  font-size: 2.75rem;
  color: #1D4ED8;
  font-weight:bold;
  position:relative;
  left:15%;
  font-style:italic;
  margin-bottom:10px;
}
input {
  width: 96%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}
button {
  width: 96%;
  padding: 10px;
  background-color: #3b82f6;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
span{
  color:red;
  font-size:20px;
}
label{
  font-size:20px;
  margin-top: 0.5px;
  margin-bottom: 1px;
}
.error{
  font-weight:bold;
  color:red;
  margin-bottom: 14px;
}
.kontostand {
  font-size: 1.2rem;
  color: #111827;
  font-weight: 600;
  text-align: center;
  margin-top: 2px;
  margin-bottom: 5px;
}
