<div class="welcome-message">Welcome to SEP Voyage!</div>
<div class="sub-message">Your route. Your rules.</div>

<div class="road">
  <img src="https://thumbs.dreamstime.com/b/cartoon-car-cute-blue-beetle-342920294.jpg" alt="Moving car" class="car">
</div>

<img class="center-image" src="https://previews.123rf.com/images/artinspiring/artinspiring2002/artinspiring200200449/139842161-concepto-de-servicio-de-coche-compartido-idea-de-veh%C3%ADculo-compartido-y-transporte-aplicaci%C3%B3n-m%C3%B3vil.jpg" alt="Concept of car-sharing service">

<div class="button-container">
  <button class="my-button login-button" (click)="goToLogin()">Login</button>
  <button class="my-button" (click)="goToRegister()">Register</button>
</div>
