.simulation-container {
  position: relative;
}


.controls {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;

  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 8px;
  padding: 10px 16px;
  display: flex;
  align-items: center;
  gap: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

  button {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    font-size: 15px;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s;
  }

  button:hover {
    background-color: #e0e0e0;
  }

  label {
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 6px;

    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 6px 12px;
    border-radius: 6px;
    height: 32px; 
  }

  input[type="range"] {
    cursor: pointer;
    accent-color: #b7b7b7;
  }
}
